# Rust build artifacts
target/
**/*.rs.bk

# Version control
.git
.gitignore

# Environment and Secrets
.env
*.pem
*.key

# Tooling configs
Justfile
.vscode/
.idea/
zellij/
dev.kdl

# OS-specific
.DS_Store
Thumbs.db

# Documentation
README.md
docs/

